hostname OSPFv2
log file /var/log/quagga/ospfd.log
log stdout
password Quagga
enable password Quagga

router ospf
 router-id {{ routing.ospf.router_id | default("1.1.1.1") }}
 capability opaque
 log-adjacency-changes detail
{% for net in routing.ospf.networks %}
 network {{ net }} area {{ routing.ospf.area }}
{% endfor %}
 redistribute bgp
 default-information originate
